

<ion-content>

   
    
    <div class="header">
      <div class="top-nav">
        <button class="btn-back" (click)="back()">
          <i class="zmdi zmdi-arrow-left"></i>
        </button>
        <div class="title">Checkout</div>
      </div>
    </div>
    
     <div class="delevary_address">
       <div class="container">
      	<h3>Delivery Address</h3>
        </div>
      	<div class="address_area">
      		<button class="add_address" routerLink="/checkout-addressadd"><i class="zmdi zmdi-plus"></i></button>
            <div class="address_area_inner">
              <ul >
                 <li *ngFor="let data of address_list; let idx=index" (click)="selectDeliveryAddress(data.usa_id)"  >
                   <button class="address_box" [ngClass]="{'active': data.usa_id == currentSelected}">
                    <a href="javascript:void(0)" (click)="edit(data.usa_id)" class="add_icon"><i class="zmdi zmdi-more-vert"></i></a>
                    <h4>{{data.usa_address}} {{data.usa_doorno}} {{data.usa_landmark}}</h4>
                   
                    <h5 *ngIf="data.usa_id == currentSelected">Delivery Here <i class="zmdi zmdi-check-circle"></i></h5>
                    <h5 *ngIf="data.usa_id != currentSelected">Delivery Address </h5>
                  </button>
                </li>
                
              </ul>
      		</div>
      	</div>
      </div>
      
      
    <div class="dtlCheckout">
      <div class="container">
        <h3>Order Summery</h3>
        <div class="billings">
          <ul class="billDtl">
            <li *ngFor="let menulist of cartdata ; let i=index;">
              <span class="itemTitle">{{menulist.menu_name}}</span>
              <span class="itemTitle">Qty {{menulist.quantity}}X{{(menulist.menu_price)}}</span>
              <span class="itemRate">€{{(menulist.menu_price*menulist.quantity).toFixed(2)}}</span>
            </li>
            <li>
              <span class="itemTitle">Delivery charge</span>
              <span class="itemTitle"></span>
              <span class="itemRate">€0</span>
            </li>
            <li class="amountTotal">
              <span class="itemTitle">To Pay</span>
              <span class="itemRate">€{{cartTotalAmount.toFixed(2)}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="delevary_time_area">
      <div class="container">
        <div class="delevary_time_body">
          <h3>delivery time</h3>
          <div class="delivery_box">
            <ul (change)="onChangeHandler2($event)">
              <li>
                <label class="radio-inline">
                  <input type="radio" value="soon" [checked]="this.dtime.paytyp==='soon'">Soon
                </label>
              </li>
              <li>
                <label class="radio-inline">
                  <input type="radio" value="later" [checked]="this.dtime.paytyp==='later'">Later
                </label>
              </li>
            </ul>
            <div class="delivery" *ngIf="pickup_delivery=='later'">
              <div class="form-group">
                <input type="date" class="form-control" placeholder="Date" [(ngModel)]="uba_delivery_date2" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <input type="time" class="form-control" placeholder="Time" [(ngModel)]="uba_delivery_time2" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="billHeading">
     <div class="container">
              <div class="payOptTop">
          <span class="payTitle">Payment Options</span>
          <!-- <button class="newAdd" href="#">Add New</button> -->
        </div>
        <ul class="payOpt" (change)="onChangeHandler3($event)" *ngIf="voucher_amt>0">
          <li>
            <label class="dtl">
              <div class="itemImgWra">
                <!-- <img src="assets/gpay.png" alt="" class="itemImg"> -->
              </div>
              <div class="desc">
                <span class="itaemName">Use voucher balance(€{{voucher_amt}})</span>
              </div>
            </label>
            <div class="price">
              <input type="hidden" [(ngModel)]="voucher_val" [ngModelOptions]="{standalone: true}" value="{{voucher_amt}}">
              <input type="checkbox" [(ngModel)]="use_voucher" [ngModelOptions]="{standalone: true}" value="true">
            </div>
          </li>

        </ul>
        <ul class="payOpt" (change)="onChangeHandler($event)" *ngIf="voucher_amt<cartTotalAmount && use_voucher==true">
       
          <li>
            <label class="dtl">
              <div class="itemImgWra">
                <img src="assets/cod.png" alt="" class="itemImg">
              </div>
              <div class="desc">
                <span class="itaemName">Cash on delivery</span>
              </div>
            </label>
            <div class="price">
              <input type="radio"  value="cod" [checked]="this.datap.paytyp==='cod'">
            </div>
          </li>
          <li>
            <label class="dtl">
              <div class="itemImgWra">
                <img src="assets/wpay.png" alt="" class="itemImg">
              </div>
              <div class="desc">
                <span class="itaemName">Worldpay Pay</span>
              </div>
            </label>
            <div class="price">
              <input value="online" [checked]="this.datap.paytyp==='online'" type="radio" >
            </div>
          </li>


        </ul>
        <ul class="payOpt" (change)="onChangeHandler($event)" *ngIf="use_voucher==''">
       
          <li>
            <label class="dtl">
              <div class="itemImgWra">
                <img src="assets/cod.png" alt="" class="itemImg">
              </div>
              <div class="desc">
                <span class="itaemName">Cash on delivery</span>
              </div>
            </label>
            <div class="price">
              <input type="radio"  value="cod" [checked]="this.datap.paytyp==='cod'">
            </div>
          </li>
          <li>
            <label class="dtl">
              <div class="itemImgWra">
                <img src="assets/wpay.png" alt="" class="itemImg">
              </div>
              <div class="desc">
                <span class="itaemName">Worldpay Pay</span>
              </div>
            </label>
            <div class="price">
              <input value="online" [checked]="this.datap.paytyp==='online'" type="radio" >
            </div>
          </li>


        </ul>

        </div>
      </div>
    
    
    
      
      
<div class="bottom-actionWrapper">
        <div class="btn-action">
          <span class="total">Total: €{{cartTotalAmount.toFixed(2)}}</span>
          <button class="btn-default" (click)="book_order()">PROCEED <i class="fas fa-long-arrow-alt-right"></i></button>
        </div>
        
      </div>
      
   

    
  
</ion-content>
