<ion-content>

   
    
    <div class="header">
      <div class="top-nav">
        <button class="btn-back" (click)="back()">
          <i class="zmdi zmdi-arrow-left"></i>
        </button>
        <div class="title">Voucher History (€{{voucherTotal}})</div>
      </div>
    </div>
    
    <div class="order_history_main_area">
      <div class="container">
        
        <div class="order_history_body" *ngIf="order_list">
          
          <div class="order_history" *ngFor="let orderlist of order_list">
            <h3>{{orderlist.billing_list.orderDate}}<span ></span> <span class="arrow"><i class="fas fa-chevron-up"></i></span></h3>
            <div class="order_history_contain">
              <h4>order details</h4>
              <div class="w-100">
                <div class="d-flex justify-content-between" *ngFor="let orderlist_item of orderlist.item">
                  <div class="order_item">
                   <!--  <div class="item"><img src="assets/addimg1.jpg" alt="image" title=""></div> -->
                    <h5>{{orderlist_item.price}}</h5>
                  </div>
                  <div class="price">€{{orderlist_item.price}}X{{orderlist_item.quantity}}</div>
                </div>
              </div>
              
              <div class="total_price_area">
                <div class="d-flex justify-content-between">
                  <div class="price">Total</div>
                  <div class="price">€{{orderlist.billing_list.ambtotal}}</div>
                </div>
              </div>
              <h6>order Status</h6>
              <p>{{orderlist.billing_list.orderStatus}}</p>
            </div>
          </div>

          <!--<div class="order_history">
            <h3>20 august 2020<span class="ontheway">on the way</span> <span class="arrow"><i class="fas fa-chevron-down"></i></span></h3>

          </div>
           <div class="order_history">
            <h3>25 august 2020<span class="canceled">cancel</span> <span class="arrow"><i class="fas fa-chevron-down"></i></span></h3>
          </div>
          <div class="order_history">
            <h3>26 august 2020<span class="ontheway">on the way</span> <span class="arrow"><i class="fas fa-chevron-down"></i></span></h3>
          </div>
          <div class="order_history">
            <h3>28 august 2020<span class="canceled">cancel</span> <span class="arrow"><i class="fas fa-chevron-down"></i></span></h3>
          </div> -->

        </div>

        <div class="order_empty_area" *ngIf="!order_list">
          <div class="w-100">
            <div class="order_empty_img">
              <img src="assets/note.png">
            </div>
            <div class="order_empty_contain">
              <h1>Your order list is empty</h1>
              <p>Your order list is empty</p>
              <button class="btn-browse-menu">go to home page</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="sticky_footer">
       <div class="container">
         <p><button  routerLink="/"><i class="zmdi zmdi-home"></i><span></span></button></p>
         <p><button routerLink="/restaurant-menu"><i class="zmdi zmdi-search"></i><span></span></button></p>
         <p><button routerLink="/cart-page"><i class="zmdi zmdi-shopping-cart"></i><span></span> <small [innerHTML]="cartcount"></small></button></p>
         <p><button routerLink="/sidebar"><i class="zmdi zmdi-account"></i><span></span></button></p>
       </div>
     </div>
  
</ion-content>
