
<ion-content>

   
    
    <div class="header">
      <div class="top-nav">
        <button class="btn-back" (click)="back()">
          <i class="zmdi zmdi-arrow-left"></i>
        </button>
        <div class="title">Add Address</div>
      </div>
    </div>
    
    <div class="delevary_address">
      <div class="container">
      	<div class="form-group">
          <label>Full Address</label>
          <textarea class="form-control" [(ngModel)]="usa_address" [ngModelOptions]="{standalone:true}" placeholder="Full Address"></textarea>
        </div>
        <!-- <div class="form-group">
          <label>Pincode.</label>
          <input type="text" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone:true}" placeholder="Pincode.">
          <div class="icon"><i class="fas fa-map-marked-alt"></i></div>
        </div> -->
        <div class="form-group">
          <label>Door / Flat no</label>
          <input type="text" class="form-control" [(ngModel)]="usa_doorno" [ngModelOptions]="{standalone:true}" placeholder="Door / Flat no">
          <div class="icon"><i class="fas fa-street-view"></i></div>
        </div>
        <div class="form-group">
          <label>Landmark</label>
          <input type="text" class="form-control" [(ngModel)]="usa_landmark" [ngModelOptions]="{standalone:true}" placeholder="Landmark">
          <div class="icon"><i class="fas fa-street-view"></i></div>
        </div>
        
        
        <button class="btn" (click)="saveAddress()">Save</button>
      </div>
    </div>
    
      
   

    
  
</ion-content>
