<!-- <ion-header>
<ion-toolbar>
<ion-title>sidebar</ion-title>
</ion-toolbar>
</ion-header> -->
<ion-content>


<div class="menubox" (ionWillOpen)="menuOpened1()">
  <div class="menu_head">
    
    <button class="btn-back" (click)="back()"> <i class="zmdi zmdi-arrow-left"></i> </button>
    <h1>settings</h1>
  </div>
  <div class="menu_body">
    <ul>
      <li><button routerLink="/"><span><img src="assets/menuicon1.png"  alt=""></span> Home<i class="zmdi zmdi-chevron-right"></i></button></li>
      <li><button routerLink="/book-table"><span><img src="assets/menuicon1.png"  alt=""></span> Book Table<i class="zmdi zmdi-chevron-right"></i></button></li>
      <li><button routerLink="/gift-voucher"><span><img src="assets/menuicon1.png"  alt=""></span> Gift Voucher<i class="zmdi zmdi-chevron-right"></i></button></li>
      <li><button routerLink="/gallery"><span><img src="assets/menuicon1.png"  alt=""></span> Gallery<i class="zmdi zmdi-chevron-right"></i></button></li>
      <li *ngIf="userDetails"><button routerLink="/order-list"><span><img src="assets/menuicon1.png"  alt=""></span> My Order<i class="zmdi zmdi-chevron-right"></i></button></li>
      <li *ngIf="userDetails"><button routerLink="/voucher-orderlist"><span><img src="assets/menuicon1.png"  alt=""></span> My Voucher<i class="zmdi zmdi-chevron-right"></i></button></li>
      <li *ngIf="userDetails"><button routerLink="/address-list"><span><img src="assets/menuicon2.png"  alt=""></span> Address<i class="zmdi zmdi-chevron-right"></i></button></li>
      <li *ngIf="userDetails"><button routerLink="/profile"><span><img src="assets/menuicon2.png"  alt=""></span> profile<i class="zmdi zmdi-chevron-right"></i></button></li>
      
      <li *ngIf="!userDetails"><button routerLink="/login"><span><img src="assets/menuicon2.png"  alt=""></span> Login<i class="zmdi zmdi-chevron-right"></i></button></li>
      <li *ngIf="!userDetails"><button routerLink="/register"><span><img src="assets/menuicon2.png"  alt=""></span> Registration<i class="zmdi zmdi-chevron-right"></i></button></li>
      <li *ngIf="userDetails"><button routerLink="/change-password"><span><img src="assets/menuicon2.png"  alt=""></span> Change Password<i class="zmdi zmdi-chevron-right"></i></button></li>

      <li><button routerLink="/contact"><span><img src="assets/menuicon1.png"  alt=""></span> Contact us<i class="zmdi zmdi-chevron-right"></i></button></li>
      <li><button routerLink="/about"><span><img src="assets/menuicon1.png"  alt=""></span> About<i class="zmdi zmdi-chevron-right"></i></button></li>
      <li><button routerLink="/privacy-policy"><span><img src="assets/menuicon1.png"  alt=""></span> Privacy Policy<i class="zmdi zmdi-chevron-right"></i></button></li>
      <li><button routerLink="/term-condition"><span><img src="assets/menuicon1.png"  alt=""></span> Terms & Conditions<i class="zmdi zmdi-chevron-right"></i></button></li>
      <li *ngIf="userDetails" (click)="logout()"><button><span><img src="assets/menuicon7.png"  alt=""></span>Logout<i class="zmdi zmdi-chevron-right"></i></button></li>
    </ul>
  </div>
</div>






</ion-content>