
<ion-content>

   
    
  <div class="header">
    <div class="top-nav">
      <button class="btn-back" (click)="back()">
        <i class="zmdi zmdi-arrow-left"></i>
      </button>
      <div class="title">Privacy Policy</div>
    </div>
  </div>
      
  
  <div class="about_us_area">
    <div class="container">
      <div class="about_us_body">
        <h1>Privacy and Policy</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      
      </div>
    </div>
  </div>

    
  
</ion-content>
